<!-- Educacion 

<section class="section bg-transparent" id="resume">
    <div class="container bg-light">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Educación</h2>
                    <p>Carrera y cursos.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 m-15px-tb">
                <div class="resume-box">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fi fi-sr-graduation-cap"></i>
                            </div>
                            <span class="time">2020 - Presente | Buenos Aires, Argentina</span>
                            <h5>Lic. Diseño Multimedial | Facultad de Artes, UNLP</h5>

                        </li>
                        <li>
                            <div class="icon">
                                <i class="fi fi-sr-diploma"></i>
                            </div>
                            <span class="time">2021 | Online</span>
                            <h5>Foundations of User Experience (UX) Design. | Coursera</h5>

                        </li>
                        <li>
                            <div class="icon">
                                <i class="fi fi-sr-diploma"></i>
                            </div>
                            <span class="time">2022 | Online</span>
                            <h5>Start the UX Design Process: Empathize, Define and Ideate.</h5>
                            <p>En el curso se desarrollan
                                habilitadades comoW
                                U Empatizar con los usuarios para
                                comprender sus necesidades y
                                puntos débilesO
                                U Crear mapas de empatía,
                                personas, user stories, user journey
                                mapZ
                                U Desarrollar enunciados de
                                problemas para definir las
                                necesidades del usuarioO
                                U Generar ideas para posibles
                                soluciones a los problemas de los
                                usuariosO
                                U Realizar auditorías competitivas.</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>


-->

<section class="section bg-transparent" id="resume">
    <div class="container gray-bg ">
        <div class="row">
            <div class="col-lg-2">
                <button type="button" class="btn btn-light" routerLink="/nuevaedu" *ngIf="isLogged">
                    Agregar educación
                </button>
            </div>

            <table class="table">
                <tbody>
                    <tr *ngFor="let Educacion of educacion">
                        <td>{{Educacion.nombreE}}</td>
                        <td>{{Educacion.descripcionE}}</td>
                        
                        <td *ngIf="isLogged">
                            <button type="button" class="btn btn-secondary" routerLink="/editedu/{{Educacion.id}}"><i
                                    class="bi bi-pencil-fill"></i>
                            </button>
                        </td>

                        <td *ngIf="isLogged">
                            <button type="button" class="btn btn-danger" (click)="delete(Educacion.id)">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
</section>