<!-- Proyectos -->
<div class="container ">

<div class="col-lg-12 col-sm-12 ">
    <div class="row" >
        <div class="col-sm-4"  >
            <div class="card h-100">
                <img src="assets/img/3BQ.png" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <a href="http://en.wikipedia.org/wiki/ "><img src="assets/img/iconoShare.png" alt="Icono compartir"></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">3BQ</h5>
                    <h6>Enero 2023</h6>
                    <p class="card-text">Presentación digital de 3BQ y rediseño de página web.</p>
                </div>
               
            </div>
        </div>
        <div class="col-sm-4" id="imagen2" draggable="false" (dragstart)="drag($event)">
            <div class="card h-100">
                <img src="assets/img/TP.png" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <a href="http://en.wikipedia.org/wiki/ "><img src="assets/img/iconoShare.png" alt="Icono compartir"></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">ParticularProp</h5>
                    <h6>Junio 2021</h6>
                    <p class="card-text">Trabajo final de la materia Taller de Diseño Multimedial II</p>
                </div>
                
            </div>
        </div>
        <div class="col-sm-4" id="imagen3" draggable="false" (dragstart)="drag($event)">
            <div class="card h-100">
                <img src="assets/img/LHC.png" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <a href="http://en.wikipedia.org/wiki/ "><img src="assets/img/iconoShare.png" alt="Icono compartir"></a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Lucrecia Home Couture</h5>
                    <h6>Actualmente</h6>
                    <p class="card-text">Diseño de placas para redes sociales de Lucrecia Home Couture.</p>
                    
                    
                </div>
              
            </div>
        </div>
    </div>
<!-- <div class="container bg-light">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Proyectos</h2>
                    <p>Conocé mis trabajos.</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 50px">
            <div class="col-lg-4 m-15px-tb">
                <div class="resume-box">
                    <div class="imagenProyecto">
                        <a href="http://en.wikipedia.org/wiki/ "><img src="assets/img/iconoShare.png" alt="Icono compartir"></a>
                        <img id="imagen-Proyecto" src="assets/img/3BQ.png" alt="Proyecto 3BQ">
                    
                    </div>
                    <div class="infoProyecto">
                        <h4>3BQ</h4>
                        <h6>Enero 2023</h6>
                        <p>Presentación digital de 3BQ y rediseño de página web.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 m-15px-tb">
                <div class="resume-box">
                    <div class="imagenProyecto">
                        <a href="http://en.wikipedia.org/wiki/ "><img src="assets/img/iconoShare.png" alt="Icono compartir"></a>
                        <img id="imagen-Proyecto" src="assets/img/LHC.png" alt="Proyecto LHC">
                    
                        <div class="infoProyecto">
                            <h4>Lucrecia Home Couture</h4>
                            <h6>Actualmente</h6>
                            <p>Diseño de placas para redes sociales de Lucrecia Home Couture.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 m-15px-tb">
                <div class="resume-box">
                    <div class="imagenProyecto">
                        <a href="http://en.wikipedia.org/wiki/ "><img src="assets/img/iconoShare.png" alt="Icono compartir"></a>
                    
                        <img id="imagen-Proyecto" src="assets/img/TP.png" alt="Proyecto Particular Prop">
                    
                    </div>
                    <div class="infoProyecto">
                        <h4>ParticularProp</h4>
                        <h6>Junio 2021</h6>
                        <p>Trabajo final de la materia Taller de Diseño Multimedial II</p>
                    </div>
                </div>
            </div>

        </div>

        
    </div>-->
</div>
</div>
