<!-- Skills -->
<section class="section bg-transparent" id="resume">
    <div class="container bg-light">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Skills</h2>
                    <p>Soft & Hard skills </p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12 m-15px-tb ">
                <div class=" text-center resume-box" style="padding: 25px;">
                    
                 <circle-progress [percent]="80 " [radius]="100" [showUnits]="false" [title]="'UX UI'" [showSubtitle]="false"
                        [showTitle]="true" [outerStrokeWidth]="3" [innerStrokeWidth]="8" [outerStrokeColor]="'#27B374'"
                        [innerStrokeColor]="'#343434'" [animation]="true" [animationDuration]="600">
                    </circle-progress>

                    <circle-progress [percent]="60 " [radius]="100" [showUnits]="false" [title]="'CSS'" [showSubtitle]="false"
                        [showTitle]="true" [outerStrokeWidth]="3" [innerStrokeWidth]="8" [outerStrokeColor]="'#27B374'"
                        [innerStrokeColor]="'#343434'" [animation]="true" [animationDuration]="600">
                    </circle-progress>

                    <circle-progress 
                        [percent]="40 " 
                        [radius]="100" 
                        [showUnits]="false" 
                        [title]="'JavaScript'" 
                        [showSubtitle]="false"
                        [showTitle]="true" 
                        [outerStrokeWidth]="3" 
                        [innerStrokeWidth]="8" 
                        [outerStrokeColor]="'#27B374'"
                        [innerStrokeColor]="'#343434'" [animation]="true" [animationDuration]="600">
                    </circle-progress>

                    <circle-progress 
                    [percent]="70 " 
                    [radius]="100" 
                    
           
                    [showUnits]="false"
                    [title]="'HTML'"
                    [showSubtitle]="false"
                    [showTitle]="true"
                    [outerStrokeWidth]="3" 
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#27B374'" [innerStrokeColor]="'#343434'" 
                    [animation]="true" [animationDuration]="600">
                    </circle-progress>


                </div>
            </div>

        </div>

        <div class="row">
            <div class=" col-lg-6 m-15px-tb">
                <div class="section-title" style="margin-top: 50px;">
                    <h3>Lenguajes</h3>
                </div>
                
            </div>

            <div class="col-lg-12 m-15px-tb ">
                <div class="text-center resume-box" style="padding: 25px;">

                    <circle-progress 
                        [percent]="100 " 
                        [radius]="100" 
                        [showUnits]="false" 
                        [title]="'Español'"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="3" 
                        [innerStrokeWidth]="8" 
                        [outerStrokeColor]="'#27B374'"
                        [innerStrokeColor]="'#343434'" 
                        [animation]="true" 
                        [animationDuration]="600">
                    </circle-progress>
                    <circle-progress 
                        [percent]="55 " 
                        [radius]="100" 
                        [showUnits]="false" 
                        [title]="'Inglés'" 
                        [showSubtitle]="false"
                        [outerStrokeWidth]="3" 
                        [innerStrokeWidth]="8" 
                        [outerStrokeColor]="'#27B374'" [innerStrokeColor]="'#343434'"
                        [animation]="true" 
                        [animationDuration]="600">
                    </circle-progress>


                    

                </div>
            </div>
        </div>


    </div>

</section>

<hr size="2px" color="white">